Creating custom dataset from TMDB_tv_dataset_v3 from kaggle

In [1]:
import pandas as pd

In [ ]:

# # Load the MovieLens dataset
movies = pd.read_csv('D:\Project\LLM\ccsv\TMDB_movie_dataset_v11.csv')
tv = pd.read_csv('D:\Project\LLM\ccsv\TMDB_tv_dataset_v3.csv')

movies.head(2)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."

In [23]:
print(movies.shape)
print(tv.shape)

(1205104, 24)
(168639, 29)

In [3]:
tv.head(2)

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70

In [4]:
tv.columns

Index(['id', 'name', 'number_of_seasons', 'number_of_episodes',
       'original_language', 'vote_count', 'vote_average', 'overview', 'adult',
       'backdrop_path', 'first_air_date', 'last_air_date', 'homepage',
       'in_production', 'original_name', 'popularity', 'poster_path', 'type',
       'status', 'tagline', 'genres', 'created_by', 'languages', 'networks',
       'origin_country', 'spoken_languages', 'production_companies',
       'production_countries', 'episode_run_time'],
      dtype='object')

In [5]:
movies.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [67]:
m = movies.copy()
t = tv.copy()

In [ ]:
m = m.drop(['id',  'status', 'original_title', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'poster_path', 'tagline', 
       'production_countries',  'spoken_languages'], axis=1)

In [ ]:
t = t.drop(['id', 'adult',
       'backdrop_path', 'in_production', 'poster_path', 'type',
       'status', 'tagline', 'original_name', 'created_by', 'languages',
       'origin_country', 'spoken_languages',
       'production_countries', 'episode_run_time'], axis=1)

In [70]:
t.columns

Index(['name', 'number_of_seasons', 'number_of_episodes', 'original_language',
       'vote_count', 'vote_average', 'overview', 'first_air_date',
       'last_air_date', 'homepage', 'original_name', 'popularity', 'genres',
       'networks', 'production_companies'],
      dtype='object')

In [71]:
m.columns

Index(['title', 'vote_average', 'vote_count', 'release_date', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'genres', 'production_companies', 'keywords'],
      dtype='object')

In [72]:
print("movie", m["original_language"].unique())
print("tv",t["original_language"].unique())

movie ['en' 'ko' 'fr' 'ja' 'it' 'es' 'pl' 'pt' 'hi' 'tr' 'da' 'de' 'cn' 'id'
 'zh' 'sv' 'el' 'ru' 'sr' 'fa' 'th' 'ar' 'no' 'nb' 'fi' 'te' 'la' 'nl'
 'hu' 'he' 'is' 'ro' 'gl' 'uk' 'eu' 'et' 'bs' 'bn' 'xx' 'sh' 'km' 'cs'
 'tn' 'ml' 'mk' 'ga' 'hy' 'ku' 'ka' 'ta' 'kn' 'tl' 'vi' 'ca' 'dz' 'sw'
 'wo' 'kk' 'sk' 'lv' 'mi' 'bo' 'ps' 'mn' 'lt' 'ur' 'sl' 'sc' 'af' 'hr'
 'iu' 'se' 'ms' 'bm' 'mr' 'bg' 'cy' 'lo' 'am' 'xh' 'qu' 'yi' 'yo' 'sq'
 'pa' 'eo' 'gu' 'zu' 'st' 'ne' 'ak' 'mt' 'as' 'rw' 'ay' 'ln' 'si' 'mo'
 'ff' 'so' 'ky' 'kl' 'ik' 'ab' 'az' 'jv' 'fo' 'sn' 'li' 'tg' 'my' 'ks'
 'su' 'lb' 'ht' 'tk' 'sa' 'ha' 'rm' 'sm' 'fy' 'bi' 'or' 'gd' 'ny' 'be'
 'om' 'cr' 'uz' 'mg' 'co' 'mh' 'nn' 'gn' 'tw' 'ia' 'nv' 'os' 'tt' 'ug'
 'ig' 'sg' 'nd' 'dv' 'sd' 'oc' 'ba' 'ty' 'kw' 'ie' 'lg' 'cv' 'za' 'kj'
 'kv' 'to' 'ti' 'av' 'ch' 'hz' 'aa' 'fj' 'oj' 'br' 'ce' 'ki' 'gv' 'ss'
 'nr' 'ts' 'ii' 'rn' 'an' 'kg']
tv ['en' 'es' 'ko' 'ja' 'de' 'fr' 'tr' 'pt' 'da' 'ca' 'sv' 'no' 'th' 'it'
 'zh' 'ar' 'ru' 'is' 'tl' 'he' 'pl' 'nl' 'hi' 'fi' 'lb' 'cy' 'gl' 'uk'
 'hu' 'cs' 'la' 'ro' 'bg' 'cn' 'el' 'vi' 'sr' 'ta' 'hr' 'zu' 'fa' 'xx'
 'bn' 'id' 'ms' 'sk' 'ur' 'te' 'sh' 'af' 'kn' 'si' 'ml' 'bs' 'ga' 'et'
 'ab' 'am' 'sq' 'mo' 'ka' 'az' 'nb' 'ku' 'lt' 'lv' 'eu' 'mr' 'sl' 'hz'
 'mi' 'km' 'ne' 'kk' 'as' 'se' 'be' 'mn' 'pa' 'gu' 'mk' 'mt' 'jv' 'or'
 'st' 'sw' 'ti' 'my' 'so' 'fy' 'za' 'hy' 'uz' 'rm' 'gd' 'av' 'ug' 'ho'
 'eo' 'kv' 'dv' 'lo' 'ht' 'ps' 'ln' 'aa']

In [73]:
# Calculate the counts of each language
mov = m['original_language'].value_counts()
tv = t['original_language'].value_counts()

# Filter rows where the count of the language is greater than or equal to 500
m = m[m['original_language'].isin(mov[mov >= 10000].index)]
t = t[t['original_language'].isin(tv[tv >= 5000].index)]

In [74]:

print("movie", m.value_counts("original_language"))
print("tv", t.value_counts("original_language"))

movie original_language
en    652819
fr     70489
es     61658
de     56450
ja     52553
zh     40805
pt     35975
it     25104
ru     24755
ko     13904
cs     11162
Name: count, dtype: int64
tv original_language
en    76304
zh    14422
ja    14048
ko     7820
de     7712
fr     7290
es     5602
Name: count, dtype: int64

In [75]:
print(m.shape)
print(t.shape)

(1045674, 13)
(133198, 15)

In [ ]:

m = m.dropna(subset=['release_date'])

In [78]:
print(m.shape)

(848028, 13)

In [79]:
t = t.dropna(subset=['first_air_date'])

In [80]:
print(t.shape)

(103453, 15)

In [81]:
t.head(2)

,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,first_air_date,last_air_date,homepage,original_name,popularity,genres,networks,production_companies
0,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,2011-04-17,2019-05-19,http://www.hbo.com/game-of-thrones,Game of Thrones,1083.917,"Sci-Fi & Fantasy, Drama, Action & Adventure",HBO,"Revolution Sun Studios, Television 360, Genera..."
1,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",2017-05-02,2021-12-03,https://www.netflix.com/title/80192098,La Casa de Papel,96.354,"Crime, Drama","Netflix, Antena 3",Vancouver Media

In [97]:
t['first_air_date'] = pd.to_datetime(t['first_air_date'])
t['last_air_date'] = pd.to_datetime(t['last_air_date'])

t['air_years'] = t['first_air_date'].astype(str).str[:4] + '-' + t['last_air_date'].astype(str).str[:4]

In [98]:
t.head(1)

,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,first_air_date,last_air_date,homepage,original_name,popularity,genres,networks,production_companies,air_years
0,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,2011-04-17,2019-05-19,http://www.hbo.com/game-of-thrones,Game of Thrones,1083.917,"Sci-Fi & Fantasy, Drama, Action & Adventure",HBO,"Revolution Sun Studios, Television 360, Genera...",2011-2019

In [84]:

t = t[t['vote_count'] > 15]  
m = m[m['vote_count'] > 200] 

print("mov: ", m.shape)
print("tv: ", t.shape)

mov:  (11352, 13)
tv:  (8408, 16)

In [ ]:
m = m[~m['original_language'].isin(["cs", "it", "zh", "ru", "pt"])]
t = t[~t['original_language'].isin(["es","zh"])]    
print("movie", m.value_counts("original_language"))
print("tv", t.value_counts("original_language"))

movie original_language
en    8483
fr     758
ja     315
es     245
de     116
ko     107
Name: count, dtype: int64
tv original_language
en    5415
ja    1383
ko     474
fr     165
de     103
Name: count, dtype: int64

In [86]:
print("mov: ", m.shape)
print("tv: ", t.shape)

mov:  (10689, 13)
tv:  (8281, 16)

In [89]:
m['release_year'] = m['release_date'].astype(str).str[:4]

In [90]:
m.head(1)

,title,vote_average,vote_count,release_date,homepage,imdb_id,original_language,original_title,overview,popularity,genres,production_companies,keywords,release_year
0,Inception,8.364,34495,2010-07-15,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc...",2010

In [91]:
m['release_year'].value_counts()

release_year
2018    482
2017    476
2019    454
2016    440
2014    435
       ...
1916      1
1921      1
1918      1
1917      1
1911      1
Name: count, Length: 113, dtype: int64

In [92]:
m['release_year'] = m['release_year'].astype(int)
m = m[(m['release_year'] >= 1970)]

In [93]:
m.shape

(10024, 14)

In [101]:
m.to_csv("movies_dataset.csv", index=False)

In [104]:
t.to_csv("tv_dataset.csv", index=False)

In [105]:
d = pd.read_csv("movies_dataset.csv")
d.head(2)

,title,vote_average,vote_count,release_date,homepage,imdb_id,original_language,overview,popularity,genres,production_companies,keywords,release_year,cast
0,Inception,8.364,34495,2010-07-15,https://www.warnerbros.com/movies/inception,tt1375666,en,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc...",2010,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen..."
1,Interstellar,8.417,32571,2014-11-05,http://www.interstellarmovie.net/,tt0816692,en,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","rescue, future, spacecraft, race against time,...",2014,"Matthew McConaughey, Jessica Chastain, Anne Ha..."

In [108]:
d.shape

(10024, 14)

In [ ]:
d["cast"].isnull().sum()

6476

In [109]:
df = d[d["cast"].isnull()]

In [110]:
df.shape

(6476, 14)

In [111]:
df.to_csv("missing_cast.csv", index=False)

In [ ]:
import pandas as pd
import json

csv_path = "tv_cast_dataset.csv"
df = pd.read_csv(csv_path)

json_path = "data.json"
with open(json_path, 'r', encoding='utf-8') as f:
    data = [json.loads(line) for line in f] 

name_to_imdb = {
    entry["name"]: entry.get("external_ids", {}).get("imdb_id", "")
    for entry in data if "name" in entry
}

df["imdb_id"] = df["title"].map(name_to_imdb).combine_first(df["imdb_id"])
df.to_csv("tv_shows_updated.csv", index=False)

In [121]:
df["imdb_id"].isnull().sum()

341

In [128]:
# f = df[~df["imdb_id"].isnull()]

f.to_csv("tv_datasets.csv", index=False)

In [ ]:
import pandas as pd 
t = pd.read_csv("tv_dataset.csv")
m = pd.read_csv("movies_dataset.csv")

In [ ]:
print((t['vote_count'] < 100).sum())  
print((m['vote_count'] < 1500).sum())

6609
7348

In [7]:
print(t.shape)
print(m.shape)

(7390, 17)
(10024, 14)

In [20]:
t.columns

Index(['title', 'number_of_seasons', 'number_of_episodes', 'original_language',
       'vote_count', 'vote_average', 'overview', 'first_air_date',
       'last_air_date', 'homepage', 'popularity', 'genres', 'networks',
       'production_companies', 'air_years', 'imdb_id', 'cast'],
      dtype='object')

In [50]:
m.columns

Index(['title', 'vote_average', 'vote_count', 'release_date', 'homepage',
       'imdb_id', 'original_language', 'overview', 'popularity', 'genres',
       'production_companies', 'keywords', 'release_year', 'cast'],
      dtype='object')

In [ ]:
m.drop(columns=['vote_count', 'vote_average', 'popularity'], inplace=True)
t.drop(columns=['vote_count', 'vote_average', 'popularity'], inplace=True)

In [45]:

language_mapping = {
    "en": "English",
    "ja": "Japanese",
    "ko": "Korean",
    "de": "German",
    "fr": "French"
}


t['original_language'] = t['original_language'].replace(language_mapping)
print(t['original_language'].value_counts())

original_language
English     5015
Japanese    1277
Korean       432
French       149
German        90
Name: count, dtype: int64

In [52]:
language_mapping = {
    "en": "English",
    "ja": "Japanese",
    "ko": "Korean",
    "de": "German",
    "fr": "French"
}


m['original_language'] = m['original_language'].replace(language_mapping)
print(m['original_language'].value_counts())

original_language
English     8483
French       758
Japanese     315
es           245
German       116
Korean       107
Name: count, dtype: int64

In [ ]:

df2 = pd.read_csv("overt.csv")
t = t.drop_duplicates(subset=['imdb_id'])
df2 = df2.drop_duplicates(subset=['imdb_id'])
# Merge the two dataframes on the 'imdb_id' column
merged_df = pd.merge(t, df2[['imdb_id', 'vote_average', 'vote_count', 'popularity']], on='imdb_id', how='left')
merged_df = merged_df.dropna(subset=['vote_count'])

In [47]:
merged_df= merged_df[merged_df['vote_count'] > 8000]

merged_df.to_csv("tv_datasets.csv", index=False)

In [48]:
merged_df.shape

(2049, 17)

In [66]:

df1 = pd.read_csv("overm.csv")
m = m.drop_duplicates(subset=['imdb_id'])
df1 = df1.drop_duplicates(subset=['imdb_id'])
# Merge the two dataframes on the 'imdb_id' column
merged = pd.merge(m, df1[['imdb_id', 'vote_average', 'vote_count', 'popularity']], on='imdb_id', how='left')
merged = merged.dropna(subset=['vote_count'])

In [ ]:
merged= merged[merged['vote_count'] > 50000]
merged.shape
merged.to_csv("movies_datasets.csv", index=False)

In [49]:
merged_df["original_language"].value_counts()

original_language
English     1814
Japanese     134
Korean        71
German        20
French        10
Name: count, dtype: int64

In [80]:
df = pd.read_csv("ot.csv")

In [ ]:
import re
df['year'] = ""

def process_title(row):
    # Extract the content inside brackets
    match = re.search(r'\((.*?)\)', row['title'])
    if match:
        bracket_content = match.group(1)
        
        # Extract years from the bracket content (more flexible pattern)
        year_match = re.search(r'(\d{4})(?:–(\d{4})?|\s*–\s*)?', bracket_content)
        if year_match:
            start_year = year_match.group(1)
            end_year = year_match.group(2) if year_match.group(2) else ''
            
            if end_year:
                row['year'] = f"{start_year}–{end_year}"
            else:
                row['year'] = start_year

    row['title'] = re.sub(r'\s*\(.*?\)', '', row['title']).strip()
    return row

df = df.apply(process_title, axis=1)

In [83]:
df['seasons_count'] = df['seasons_count'].fillna(1)

df = df[df['original_language'] != 'Hindi']

In [84]:
df.to_csv("tv_dt.csv", index=False, encoding="utf-8")

In [85]:
df = pd.read_csv("tv_datasets.csv")
df2 = pd.read_csv("tv_dt.csv")

app = pd.concat([df, df2], ignore_index=True)
output_path = "app.csv"
app.to_csv(output_path, index=False)

In [86]:
m = pd.read_csv("movies_datasets.csv")
mm = pd.read_csv("om.csv")

In [ ]:
from datetime import datetime

def clean_release_date(date_str):
    if pd.isna(date_str) or date_str == "":
        return ""

    date_str = re.sub(r'\s*\(.*?\)', '', date_str).strip()
    
    try:
        date_obj = datetime.strptime(date_str, "%B %d, %Y")
        return date_obj.strftime("%Y-%m-%d")
    except ValueError:
        return date_str

mm['release_date'] = mm['release_date'].apply(clean_release_date)

In [89]:
mm = mm[mm['original_language'] != 'Hindi']

In [90]:
mm.to_csv("om.csv", index=False, encoding="utf-8")

In [ ]:
f = pd.read_csv("oms.csv")
k = pd.read_csv("movies_datasets.csv")


merged = pd.merge(k, f[['imdb_id', 'budget', 'collection', 'directors']], on='imdb_id', how='left')
merged.to_csv("movies_datasets.csv", index=False, encoding="utf-8")

In [95]:

df2 = pd.read_csv("om.csv")
app = pd.concat([merged, df2], ignore_index=True)
output_path = "movies_datase.csv"
app.to_csv(output_path, index=False)

In [12]:
import pandas as pd
m = pd.read_csv("movies.csv")
t = pd.read_csv("tv_series.csv")
mm = pd.read_csv("castwm.csv")
tt = pd.read_csv("casttvw.csv")
mk = pd.read_csv("key_wm.csv")   
tk = pd.read_csv("key_tvw.csv")
m = pd.merge(m, mm[['imdb_id', 'cast1']], on='imdb_id', how='left')
t = pd.merge(t, tt[['imdb_id', 'cast1']], on='imdb_id', how='left')
m = pd.merge(m, mk[['imdb_id', 'keywords']], on='imdb_id', how='left')
t = pd.merge(t, tk[['imdb_id', 'keywords']], on='imdb_id', how='left')
m.to_csv("movie.csv", index=False)
t.to_csv("tv_serie.csv", index=False)

In [16]:
mp = pd.read_csv("plots_wm.csv")   
tp = pd.read_csv("plots_tvw.csv")
a = pd.concat([mp, tp], ignore_index=True)
a.to_csv("plots_w.csv", index=False)

In [ ]:
import pandas as pd
ttc = pd.read_csv("twco.csv")   
tc = pd.read_csv("tv_series_wo.csv")
mmc = pd.read_csv("mwco.csv")   
mc = pd.read_csv("movies_wo.csv")
mc = pd.merge(mc, mmc[['imdb_id', 'country_of_origin']], on='imdb_id', how='left')
tc = pd.merge(tc, ttc[['imdb_id', 'country_of_origin']], on='imdb_id', how='left')
mc.to_csv("movies_wo.csv", index=False)
tc.to_csv("tv_series_wo.csv", index=False)

In [ ]:

m = pd.read_csv("movies.csv")
t = pd.read_csv("tv_series.csv")

m = m.drop_duplicates(subset=['imdb_id'])
mc_duplicates = m[m['imdb_id'].duplicated(keep=False)]
print(mc_duplicates['imdb_id'].value_counts())

t = t.drop_duplicates(subset=['imdb_id'])
tc_duplicates = t[t['imdb_id'].duplicated(keep=False)]
print(tc_duplicates['imdb_id'].value_counts())

Duplicates in movies dataset:
imdb_id
tt22687790    64
tt14509110    64
tt10160976    64
tt27719898     2
tt26548265     2
tt13927994     2
tt15654328     2
tt6571548      2
tt12735488     2
tt16539454     2
Name: count, dtype: int64
Movies shape after removing duplicates: (7297, 16)
TV series shape after removing duplicates: (2708, 16)

Duplicates in TV series dataset:
Series([], Name: count, dtype: int64)

In [12]:
m.to_csv("movies.csv", index=False) 
t.to_csv("tv_series.csv", index=False)

In [12]:
k.to_csv("plo.csv", index=False, encoding="utf-8")

In [14]:
a.drop(columns=[ 'plot'], inplace=True)
a.head()

      imdb_id                             title
0   tt3566834   A Minecraft Movie (2025) - Plot
1   tt6208148          Snow White (2025) - Plot
2  tt11563598  A Complete Unknown (2024) - Plot
3   tt5040012           Nosferatu (2024) - Plot
4   tt7766378  The Electric State (2025) - Plot

In [7]:
a.to_csv("plo.csv", index=False)

In [13]:
import pandas as pd
a = pd.read_csv("plots.csv")   
# aa = pd.read_csv("tv_series.csv")
a.head()

,imdb_id,title,plot
0,tt3566834,A Minecraft Movie (2025) - Plot,A man named Steve breaks into a mine to discov...
1,tt6208148,Snow White (2025) - Plot,A princess joins forces with seven dwarfs and ...
2,tt11563598,A Complete Unknown (2024) - Plot,"In 1961, Bob Dylan moves to New York City, det..."
3,tt5040012,Nosferatu (2024) - Plot,"A young Ellen, longing for love, prays to any ..."
4,tt7766378,The Electric State (2025) - Plot,An orphaned teen hits the road with a mysterio...

In [ ]:
def clean_title(title):
    pattern = r"\s*\(TV (?:Mini )?Series\s+(\d{4}(?:[–\-](?:\d{4}| )?)?)\)"
    clean = re.sub(pattern, r" (\1)", title)
    clean = re.sub(r"\s+- Plot$", "", clean)
    return clean

a['title'] = a['title'].apply(clean_title)
a.head()

      imdb_id                      title
0   tt3566834   A Minecraft Movie (2025)
1   tt6208148          Snow White (2025)
2  tt11563598  A Complete Unknown (2024)
3   tt5040012           Nosferatu (2024)
4   tt7766378  The Electric State (2025)

In [16]:
a.to_csv("plo.csv", index=False)

In [ ]:
import pandas as pd
t = pd.read_csv("infoo.csv")
t['additional_info'] = t['additional_info'].replace('No relevant additional information found', '')
t['wikipedia_intro'] = t['wikipedia_intro'].replace('No Wikipedia page found', '')
t['wikipedia_intro'] = t['wikipedia_intro'].replace('No infobox found on Wikipedia page', '')
t['additional_info'] = t['additional_info'].apply(lambda x: '' if len(str(x)) < 35 else x)
t.to_csv("infoo.csv", index=False)

In [ ]:
 
tc = pd.read_csv("tv_series.csv") 
mc = pd.read_csv("movies.csv")
mc = pd.merge(mc, t[['imdb_id', 'additional_info', 'wikipedia_intro']], on='imdb_id', how='left')
tc = pd.merge(tc, t[['imdb_id', 'additional_info', 'wikipedia_intro']], on='imdb_id', how='left')

In [4]:
tc.to_csv("tv_serie.csv", index=False)
mc.to_csv("movie.csv", index=False)

In [9]:
import pandas as pd

df = pd.read_csv('tv_series.csv')  
df = df.dropna(subset=['genres'])
genre_lists = df['genres'].str.split(', ')
all_genres = [genre for sublist in genre_lists for genre in sublist]
unique_genres = sorted(set(all_genres))

print(unique_genres)

['Action', 'Action & Adventure', 'Action Epic', 'Adult Animation', 'Adventure', 'Adventure Epic', 'Alien Invasion', 'Animal Adventure', 'Animation', 'Anime', 'Artificial Intelligence', 'Basketball', 'Biography', 'Body Horror', 'Buddy Comedy', 'Bumbling Detective', 'Classical Western', 'Comedy', 'Coming-of-Age', 'Computer Animation', 'Conspiracy Thriller', 'Contemporary Western', 'Cop Drama', 'Costume Drama', 'Crime', 'Crime Documentary', 'Cyber Thriller', 'Dark Comedy', 'Dark Fantasy', 'Dating Reality TV', 'Desert Adventure', 'Dinosaur Adventure', 'Disaster', 'Docudrama', 'Documentary', 'Docuseries', 'Drama', 'Drug Crime', 'Dystopian Sci-Fi', 'Epic', 'Erotic Thriller', 'Fairy Tale', 'Family', 'Fantasy', 'Fantasy Epic', 'Feel-Good Romance', 'Financial Drama', 'Football', 'Game Show', 'Gangster', 'Globetrotting Adventure', 'Hand-Drawn Animation', 'Hard-boiled Detective', 'Heist', 'High-Concept Comedy', 'Historical Epic', 'History', 'History Documentary', 'Holiday', 'Holiday Romance', 'Horror', 'Iyashikei', 'Kaiju', 'Kids', 'Korean Drama', 'Kung Fu', 'Legal Drama', 'Legal Thriller', 'Martial Arts', 'Mecha', 'Medical Drama', 'Mockumentary', 'Monster Horror', 'Motorsport', 'Music', 'Musical', 'Mystery', 'News', 'One-Person Army Action', 'Parody', 'Period Drama', 'Police Procedural', 'Political Drama', 'Political Thriller', 'Prison Drama', 'Psychological Drama', 'Psychological Horror', 'Psychological Thriller', 'Quest', 'Quirky Comedy', 'Quiz Show', 'Raunchy Comedy', 'Reality', 'Reality TV', 'Romance', 'Romantic Comedy', 'Romantic Epic', 'Samurai', 'Satire', 'Sci-Fi', 'Sci-Fi & Fantasy', 'Sci-Fi Epic', 'Screwball Comedy', 'Seinen', 'Serial Killer', 'Short', 'Showbiz Drama', 'Shōnen', 'Sitcom', 'Slapstick', 'Slice of Life', 'Soap', 'Soap Opera', 'Soccer', 'Space Sci-Fi', 'Sport', 'Sports Documentary', 'Spy', 'Stand-Up', 'Steamy Romance', 'Superhero', 'Supernatural Fantasy', 'Supernatural Horror', 'Survival', 'Survival Competition', 'Suspense Mystery', 'Sword & Sandal', 'Sword & Sorcery', 'Talk', 'Talk Show', 'Teen Adventure', 'Teen Comedy', 'Teen Drama', 'Teen Fantasy', 'Teen Horror', 'Teen Romance', 'Telenovela', 'Thriller', 'Time Travel', 'Tragedy', 'Travel Documentary', 'True Crime', 'Urban Adventure', 'Vampire Horror', 'War', 'War & Politics', 'War Epic', 'Western', 'Whodunnit', 'Workplace Drama', 'Zombie Horror']

In [ ]:
# movies
['Action', 'Action Epic', 'Adventure', 'Adventure Epic', 'Alien Invasion', 'Animal Adventure', 'Animation', 'Anime',
'Artificial Intelligence', 'Biography', 'Body Horror', 'Boxing', 'Buddy Comedy', 'Buddy Cop', 'Caper', 'Car Action',
'Comedy', 'Coming-of-Age', 'Computer Animation', 'Conspiracy Thriller', 'Contemporary Western', 'Cop Drama', 'Costume Drama',
'Crime', 'Crime Documentary', 'Cyber Thriller', 'Cyberpunk', 'Dark Comedy', 'Dark Fantasy', 'Dark Romance', 'Desert Adventure',
'Dinosaur Adventure', 'Disaster', 'Docudrama', 'Documentary', 'Drama', 'Drug Crime', 'Dystopian Sci-Fi', 'Epic',
'Erotic Thriller', 'Extreme Sport', 'Fairy Tale', 'Family', 'Fantasy', 'Fantasy Epic', 'Feel-Good Romance',
'Financial Drama', 'Folk Horror', 'Gangster', 'Globetrotting Adventure', 'Gun Fu', 'Hard-boiled Detective',
'Heist', 'High-Concept Comedy', 'Historical Epic', 'History', 'History Documentary', 'Holiday', 'Holiday Comedy',
'Horror', 'Jukebox Musical', 'Jungle Adventure', 'Kaiju', 'Kung Fu', 'Legal Drama', 'Legal Thriller',
'Martial Arts', 'Medical Drama', 'Mockumentary', 'Monster Horror', 'Mountain Adventure', 'Music',
'Musical', 'Mystery', 'News', 'One-Person Army Action', 'Parody', 'Period Drama', 'Police Procedural',
'Political Drama', 'Political Thriller', 'Pop Musical', 'Prison Drama', 'Psychological Drama',
'Psychological Horror', 'Psychological Thriller', 'Quest', 'Quirky Comedy', 'Raunchy Comedy',
'Road Trip', 'Romance', 'Romantic Comedy', 'Romantic Epic', 'Satire', 'Sci-Fi', 'Sci-Fi Epic', 'Science Fiction',
'Screwball Comedy', 'Sea Adventure', 'Serial Killer', 'Showbiz Drama', 'Slapstick', 'Slasher Horror', 'Soccer', 
'Space Sci-Fi', 'Splatter Horror', 'Sport', 'Sports Documentary', 'Spy', 'Steampunk', 'Steamy Romance', 'Superhero', 
'Supernatural Fantasy', 'Supernatural Horror', 'Survival', 'Suspense Mystery', 'Swashbuckler', 'Sword & Sandal', 
'Sword & Sorcery', 'TV Movie', 'Teen Adventure', 'Teen Comedy', 'Teen Drama', 'Teen Horror', 'Teen Romance', 'Thriller', 
'Time Travel', 'Tragedy', 'Tragic Romance', 'Travel Documentary', 'True Crime', 'Urban Adventure', 'Vampire Horror', 
'War', 'War Epic', 'Water Sport', 'Werewolf Horror', 'Western', 'Whodunnit', 'Workplace Drama', 'Zombie Horror']
# tv series
['Action', 'Action & Adventure', 'Action Epic', 'Adult Animation', 'Adventure', 'Adventure Epic', 
 'Alien Invasion', 'Animal Adventure', 'Animation', 'Anime', 'Artificial Intelligence', 'Basketball', 'Biography', 
 'Body Horror', 'Buddy Comedy', 'Bumbling Detective', 'Classical Western', 'Comedy', 'Coming-of-Age', 'Computer Animation', 
 'Conspiracy Thriller', 'Contemporary Western', 'Cop Drama', 'Costume Drama', 'Crime', 'Crime Documentary', 'Cyber Thriller', 
 'Dark Comedy', 'Dark Fantasy', 'Dating Reality TV', 'Desert Adventure', 'Dinosaur Adventure', 'Disaster', 'Docudrama', 
 'Documentary', 'Docuseries', 'Drama', 'Drug Crime', 'Dystopian Sci-Fi', 'Epic', 'Erotic Thriller', 'Fairy Tale', 'Family', 
 'Fantasy', 'Fantasy Epic', 'Feel-Good Romance', 'Financial Drama', 'Football', 'Game Show', 'Gangster', 'Globetrotting Adventure', 
 'Hand-Drawn Animation', 'Hard-boiled Detective', 'Heist', 'High-Concept Comedy', 'Historical Epic', 'History', 
 'History Documentary', 'Holiday', 'Holiday Romance', 'Horror', 'Iyashikei', 'Kaiju', 'Kids', 'Korean Drama', 
 'Kung Fu', 'Legal Drama', 'Legal Thriller', 'Martial Arts', 'Mecha', 'Medical Drama', 'Mockumentary', 'Monster Horror', 
 'Motorsport', 'Music', 'Musical', 'Mystery', 'News', 'One-Person Army Action', 'Parody', 'Period Drama', 'Police Procedural', 
 'Political Drama', 'Political Thriller', 'Prison Drama', 'Psychological Drama', 'Psychological Horror', 'Psychological Thriller', 
 'Quest', 'Quirky Comedy', 'Quiz Show', 'Raunchy Comedy', 'Reality', 'Reality TV', 'Romance', 'Romantic Comedy', 
 'Romantic Epic', 'Samurai', 'Satire', 'Sci-Fi', 'Sci-Fi & Fantasy', 'Sci-Fi Epic', 'Screwball Comedy', 'Seinen', 
 'Serial Killer', 'Short', 'Showbiz Drama', 'Shōnen', 'Sitcom', 'Slapstick', 'Slice of Life', 'Soap', 'Soap Opera', 
 'Soccer', 'Space Sci-Fi', 'Sport', 'Sports Documentary', 'Spy', 'Stand-Up', 'Steamy Romance', 'Superhero', 'Supernatural Fantasy', 
 'Supernatural Horror', 'Survival', 'Survival Competition', 'Suspense Mystery', 'Sword & Sandal', 'Sword & Sorcery', 'Talk', 
 'Talk Show', 'Teen Adventure', 'Teen Comedy', 'Teen Drama', 'Teen Fantasy', 'Teen Horror', 'Teen Romance', 'Telenovela', 
 'Thriller', 'Time Travel', 'Tragedy', 'Travel Documentary', 'True Crime', 'Urban Adventure', 'Vampire Horror', 
 'War', 'War & Politics', 'War Epic', 'Western', 'Whodunnit', 'Workplace Drama', 'Zombie Horror']

In [8]:
# import re
# import pandas as pd
# a = pd.read_csv("plots.csv")
def clean_title(title):
    # Remove year patterns from TV series titles (e.g., "(2019-2020)" or "(2018– )")
    title = re.sub(r'\s*\(\d{4}(?:[-–]\d{4}|\s*–\s*)\)\s*$', '', title)
    # Remove any remaining parenthetical content at the end
    title = re.sub(r'\s*\([^)]*\)\s*$', '', title)
    return title
    
    return title

a['title'] = a['title'].apply(clean_title)
# a.head()
a.to_csv("plots.csv", index=False)